<title>{{ "User.title" | translate }}</title>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.4.1/chart.min.js"></script>

<div class="container-fluid">
  <!-- Print button -->
  <button class="btnPrint" (click)="printUser()">
    <img
      width="32"
      height="32"
      src="https://img.icons8.com/color/32/print.png"
      alt="print"
    />
  </button>
  <!-- PDF button -->
  <button class="btnPdf" (click)="pdfGenerator()">
    <img
      width="32"
      height="32"
      src="https://img.icons8.com/color/32/pdf.png"
      alt="pdf"
    />
  </button>
  <!-- Excel button -->
    <button type="submit" class="btnExcel" (click)="excelGenerator(searchValue,path,fileName)">
      
    <img
      width="32"
      height="32"
      src="https://img.icons8.com/color/32/ms-excel.png"
      alt="ms-excel"
    />
  </button>


  <!-- Language -->
  <div class="languages d-flex justify-content-end">
    <app-languages></app-languages>
  </div>
  <div class="search-form">
    

    <div class="input-group">
      <label for="search-input"></label>
      <input
        name="search"
        class="form-control border-end-0 border rounded-pill"
        type="search"
        value="search"
        id="search-input"
        [(ngModel)]="searchValue"
        placeholder="{{ 'User.search.title' | translate }}"
        (search)="searchByName(this.searchValue)"
      />
      <span class="input-group-append">
        <button
          class="btn btn-outline-secondary bg-white border-bottom-0 border rounded-pill ms-n5"
          type="button"
        >
          <mat-icon>search</mat-icon>
        </button>
      </span>
    </div>
  </div>
  <!-- Print -->

  <div class="mat-elevation-z8 table table-striped">
    <table
      id="user-table"
      class="table table-striped"
      mat-table
      matSort
      [dataSource]="dataSource"
    >
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
        <td mat-cell *matCellDef="let user">{{ user.id | translate }}</td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          {{ "User.table.name" | translate }}
        </th>
        <td mat-cell *matCellDef="let user">{{ user.name | translate }}</td>
      </ng-container>

      <ng-container matColumnDef="surname">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          {{ "User.table.surname" | translate }}
        </th>
        <td mat-cell *matCellDef="let user">{{ user.surname }}</td>
      </ng-container>

      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          {{ "User.table.email" | translate }}
        </th>
        <td mat-cell *matCellDef="let user">{{ user.email | translate }}</td>
      </ng-container>
      <ng-container matColumnDef="salary">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          {{ "User.table.salary" | translate }}
        </th>
        <td mat-cell *matCellDef="let user">
          {{ user.salary | translate | currency : "₼" }}
        </td>
      </ng-container>
      <div class="update-column">
        <ng-container matColumnDef="update" >
          <th mat-header-cell *matHeaderCellDef class="update-column-header">
            {{ "User.table.update" | translate }}
          </th>
          <td mat-cell *matCellDef="let user" class="update-column-cell">
            <a [routerLink]="['/update-user', user.id]">
              <mat-icon [inline]="true">edit</mat-icon>
            </a>
          </td>
        </ng-container>
      </div>
      <div class="delete-column">
        <ng-container matColumnDef="delete">
          <th mat-header-cell *matHeaderCellDef class="delete-column-header">
            {{ "User.table.delete" | translate }}
          </th>
          <td mat-cell *matCellDef="let user" class="delete-column-cell">
            <a (click)="openDeleteDialog('800ms', '800ms', user)">
              <mat-icon [inline]="true">delete</mat-icon>
            </a>
          </td>
        </ng-container>
      </div>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>

    <mat-paginator
      class="paginator"
      [pageSizeOptions]="[10, 15, 20, users.length]"
      showFirstLastButtons="true"
      aria-label="Select page of users"
    >
    </mat-paginator>
  </div>

  <!-- End print section -->
</div>
