<title>{{'User.left-sidebar.chart.user-chart.title'|translate}}</title>
<div class="container-fluid d-flex flex-wrap">
  <div class="user-chart d-block w-50 h-50 ">
    <p-chart type="pie" [data]="data"></p-chart>
  </div>
  <div class="user-chart d-block w-50 h-50 ">
    <p-chart type="doughnut" [data]="data"></p-chart>
  </div>
  <div class="user-chart d-block w-50 h-50 ">
    <p-chart type="line" [data]="data"></p-chart>
  </div>
  <div class="user-chart d-block w-50 h-50 ">
    <p-chart type="polarArea" [data]="data"></p-chart>
  </div>
  <div class="user-chart d-block w-50 h-50 ">
    <p-chart type="radar" [data]="data"></p-chart>
  </div>
  
</div>
